#home {
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#home .home_body {
  height: 95%;
  width: 82%;
  float: left;
  border: 1px solid #007aff;
  box-sizing: border-box;
  position: relative;
  margin-left: 2%;
}
#home .slider {
  height: 95%;
  width: 16%;
  float: right;
}
#home .slider .slider_item {
  width: 82%;
  height: 36%;
  padding-left: 1.875em;
  box-sizing: border-box;
  overflow: hidden;
}

/****************************右侧边栏滑动**********************************************/
#home .slider_item_body {
  overflow: hidden;
}
#home .slider_scroll {
  height: 100% !important;
}
#home .slider_scroll .happy-scroll-container {
  height: 97% !important;
  width: 100% !important;
  box-sizing: border-box;
}
#home .slider_scroll .happy-scroll-content {
  width: 100%;
  height: 100%;
  border: none !important;
  padding: 0;
}
#home .slider_scroll .happy-scroll-content ul {
  width: 100% !important;
  margin: 0;
  overflow: hidden;
}
#home .slider_scroll .happy-scroll-content ul li, #home .slider_info_scroll ul li {
  height: 32px;
  border-bottom: 0.0625em solid rgba(52,104,240,0.5);
  box-sizing: border-box;
  margin: 0 0 0 10px;
  color: #fff;
  font-size: 12px;
  font-family: 'SimSun';
  line-height: 32px;
  width: 92%;
  text-align: center;
}
#home .slider_scroll .happy-scroll-content ul li .placeName {
  padding: 0;
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  color: #fff;
  border: 0;
  font-family: "Microsoft YaHei";
}
#home .slider_scroll .happy-scroll-content ul li button {
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}
#home .slider_scroll .happy-scroll-content ul li .check_error {
  border: 0.0625em solid #444197;
  background-color: #2c5499;
  color: #fff;
}
#home .slider_scroll .happy-scroll-content ul li .fault {
  border: 0.0625em solid #f39800;
  background-color: #efea3a;
  color: #000;
  cursor: default;
}
#home .slider_scroll .happy-scroll-content ul li .alert {
  border: 0.0625em solid #a40000;
  background-color: #e71f19;
  color: #000;
  cursor: default;
}
.slider_two {
  /*margin-left: 20px !important;*/
}
.slider_two li {

}
/*********标题和主体********************************************************************/
#home .slider .slider_item h4 {
  width: 99%;
  height: 33px;
  background: rgba(46,49,65,1);
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  line-height: 33px;
  text-align: center;
  position: relative;
}
#home .slider .slider_item h4 .slider_item_border_l, #home .slider .slider_item h4 .slider_item_border_r {
  display: inline-block;
  width: 5px;
  height: 23px;
  background-image: url("../img/slider_item_border.png");
  position: absolute;
  top: 5px;
}
#home .slider .slider_item h4 .slider_item_border_l {
  left: -2px;
}
#home .slider .slider_item h4 .slider_item_border_r {
  right: -2px;
}
#home .slider .slider_item .slider_item_body {
  width: 100%;
  /*height: 253px;*/
  height: 80%;
  background: url("../img/slider_item_body.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 0.375em;
  padding-top: 0.25em;
}
/********map地图*********************************************************************************/
#container {
  width: 100%;
  height: 100%;
}
/**************** mask遮罩 *************************************************************************/
.el-notification {
  width: 380px;
  height: 260px;
  background: red;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -190px;
  margin-top: -130px;
  border-radius: 12px;
  padding: 10px 20px;
  box-sizing: border-box;
}
#home .error_mask {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
/*---这里是设置notify通知弹窗的样式-----------------*/
.warningAlert {
  width: 350px;
  height: 180px;
  background: red;
  position: fixed;
  left: 50% !important;
  top: 50% !important;
  margin-left: -190px;
  margin-top: -190px;
  border-radius: 12px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
}
.warningAlert .el-notification__group {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.warningAlert .el-notification__content, .warningAlert p {
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.warningAlert p h4 {
  font-family: 'Microsoft YaHei';
  font-size: 24px;
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.warningAlert p .quick_warn {
  font-size: 16px !important;
  text-align: left !important;
  margin-left: 30px;
}
.warningAlert p ul {

}
.warningAlert p ul li {
  margin: 0 0 0 30px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
}
.warningAlert .el-notification__closeBtn {
  width: 24px;
  height: 24px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  text-align: center;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #999;
}
.el-icon-close:before {

}
/*----故障的通知弹窗-------------------*/
.BreakDown {
  box-sizing: border-box;
  width: 350px;
  height: 180px;
  background: #facd89;
  border: 1px solid #dd6816;
  position: fixed;
  left: 50%;
  top: 50% !important;
  margin-left: -190px;
  margin-top: 130px;
  padding: 6px;
}
.BreakDown .el-notification__group {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.BreakDown .el-notification__content, .BreakDown p {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.breakdown_alert {

}
.BreakDown p h4 {
  color: #733723;
  font-size: 22px;
  font-family: 'Microsoft YaHei';
  line-height: 34px;
  width: 100%;
  height: 34px;
  text-align: center;
}
.BreakDown p .quick_break {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin-left: 18px;
}
.BreakDown p ul {
  /*background: blue;*/
}
.BreakDown p ul li {
  margin: 0 0 5px 19px;
  font-family: 'Microsoft YaHei';
  font-size: 18px;
  width: 100%;
  height: 42px;
  line-height: 42px;
  color: #733723;
}
.BreakDown .el-notification__closeBtn {
  width: 24px;
  height: 24px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  text-align: center;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #999;
}
/*****************地图上部显示的设备单位信息*****************************************************************/
#home .area_count {
  width: 474px;
  height: 86px;
  border: 1px solid #403e8e;
  position: absolute;
  left: 50%;
  margin-left: -230px;
  top: 2px;
  background: rgba(8,0,0,0.3);
  box-sizing: border-box;
  font-size: 0;
}
#home .area_count .count_ul {
  width: 100%;
  height: 52px;
  padding: 17px 0;
  line-height: 52px;
  letter-spacing: -8px;
}
#home .area_count .count_ul li {
  margin: 0;
  width: 118px;
  border-right: 3px solid #2e59a2;
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
}
#home .area_count .count_ul li:nth-of-type(4) {
  border-right: none;
}
#home .area_count .count_ul li i {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
#home .area_count .count_ul li i:nth-of-type(1) {
  color: #66c4f0;
  font-size: 24px;
  font-family: 'SimSun';
}
#home .area_count .count_ul li i:nth-of-type(2) {
  font-size: 12px;
  line-height: 40px;
  font-family: 'SimSun';
}
/*-*******************地图下边的指示颜色信息*********************************************/
#home .indicator_color {
  width: 120px;
  height: 148px;
  background: rgba(0,0,0,0.9);
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #403e8e;
  /*padding: 10px 0 0 8px;*/
  text-align: center;
  margin: 0 2px 2px 0;
}
/*#home .indicator_color h4 {*/
  /*width: 100%;*/
  /*height: 30px;*/
  /*font-family: 'SimSun';*/
  /*font-size: 14px;*/
  /*line-height: 30px;*/
  /*text-align: left;*/
  /*padding-left: 18px;*/
  /*box-sizing: border-box;*/
/*}*/
#home .indicator_color .color_ul {
  width: 100%;
  height: 148px;
}
#home .indicator_color .color_ul li {
  /*background-color: green;*/
  margin: 2px 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-family: 'SimSun';
  font-size: 12px;
  text-align: left;
}
#home .indicator_color .color_ul li span {
  float: left;
  /*background-color: red;*/
  width: 45px;
  height: 100%;
  text-align: right;
}
#home .indicator_color .color_ul li img {
  width: 30px;
  height: 30px;
  float: left;
  margin: 9px 0 0 23px;
}
#home .indicator_color .color_ul li em {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  vertical-align: middle;
  margin-left: 26px;
}

/*根据不同分辨率引入样式*/
@media screen and (min-width: 1920px) {

}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  #home .home_body {
    height: 96%;
    width: 82%;
    margin-left: 2%;
  }
  #home .slider {
    height: 96%;
    width: 16%;
  }
  #home .slider .slider_item {
    width: 78%;
    height: 36%;
  }
}
@media screen and (max-width: 1600px) {
  #home .home_body {
    height: 96%;
    width: 78%;
    margin-left: 2%;
  }
  #home .slider {
    height: 96%;
    width: 20%;
  }
  #home .slider .slider_item {
    width: 76%;
    height: 36%;
  }
}
@media screen and (max-width: 1440px) {
  #home .home_body {
    height: 96%;
    width: 80%;
    margin-left: 2%;
  }
  #home .slider {
    height: 96%;
    width: 18%;
  }
  #home .slider .slider_item {
    width: 80%;
    height: 36%;
  }
}
@media screen and (max-width: 1366px) {
  #home .home_body {
    height: 96%;
    width: 78%;
    margin-left: 2%;
  }
  #home .slider {
    height: 96%;
    width: 20%;
  }
  #home .slider .slider_item {
    width: 80%;
    height: 36%;
  }

  #home .slider .slider_item h4 {
    height: 26px;
    line-height: 26px;
  }
  #home .slider .slider_item h4 .slider_item_border_l, #home .slider .slider_item h4 .slider_item_border_r {
    height: 23px;
    top: 2px;
  }
  .warningAlert {
    width: 380px;
    height: 230px;
    margin-left: -190px;
    margin-top: -190px;
  }
  .BreakDown {
    width: 250px;
    height: 136px;
    margin-left: -125px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1360px) {
  #home .home_body {
    height: 96%;
    width: 78%;
    margin-left: 2%;
  }
  #home .slider {
    height: 96%;
    width: 20%;
  }
  #home .slider .slider_item {
    width: 84%;
    height: 36%;
  }
}
@media screen and (max-width: 1280px) {
  #home .home_body {
    height: 95%;
    width: 78%;
    margin-left: 2%;
  }
  #home .slider {
    height: 95%;
    width: 20%;
  }
  #home .slider .slider_item {
    width: 78%;
    height: 36%;
  }
}
