
/*添加账号*/
.public_css {
  position: relative;
}
.addManagement {
  width: 500px;
  height: 380px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*border: 1px #ffffff solid;*/
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -185px 0 0 -290px;
  background: #2e59a2;
  color: #ffffff;
  z-index: 101;
}
.addManagement .addManagement_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  color: #71c7d5;
  box-sizing: border-box;
  border-bottom: 1px solid #71c7d5;
}
.addManagement_body {
  height: 290px;
  width: 100%;
  /*background-color: yellowgreen;*/
  margin-top: 20px;
}
.addManagement_body .el-form {
  height:100%;
  width: 100%
}
.addManagement_body .el-form .el-form-item {
  width: 100%;
  height: 30px;
  /*background-color: #999999;*/
  margin-bottom: 20px;
}
.addManagement_body .el-form .el-form-item:nth-of-type(6) {
  height: 40px;
  text-align: center;
}
.addManagement_body .el-form .el-form-item:nth-of-type(6) .el-form-item__content {
  width: 470px;
  margin-left: 0 !important;
}
.addManagement_body .el-form .el-form-item:nth-of-type(4) .el-input__inner {
  height: 24px!important;
}
.addManagement_body .el-form .el-form-item .el-form-item__content {
  width: 370px;
  position: absolute;
}
.addManagement_body .el-form .el-form-item .el-form-item__content .el-form-item__error {
  left: 0 !important;
  width: 200px;
  text-align: left;
  top: 28px;
}
.addManagement .el-input__inner {
  color: #000 !important;
}
  /*.addManagement_body .el-button{*/
  /*height: 100%;*/
  /*width: 20%;*/
  /*padding: 0;*/
  /*margin:2% 10%;*/
/*}*/
/*.addManagement_body .el-form-item .el-form-item__content .el-form-item__error{*/
  /*font-size: 12px!important;*/
  /*left: 0 !important;*/
  /*width: auto;*/
  /*height: auto;*/
  /*top: auto;*/
  /*text-align: left;*/
/*}*/
.accountBtn {
  float: left;
  width: 5%;
  height: 26px;
  padding: 0px;
  border-radius: 0;
  background-color: #00a0e9;
  margin-left: 2% !important;
}
.accountBtn span {
  display: block;
  width: 100%;
  height: 100%;
}
.accountBtn span a {
  width: 100%;
  height: 100%;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}
.unitManagement_search  .accountBtn:hover{
  background: #0482bb;
}
/*编辑账号*/
.newManagement{
  width: 580px;
  height: 460px;
  border: 1px #ffffff solid;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -230px 0 0 -290px;
  background: #2e59a2;
  color: #ffffff;
  z-index: 101;
}
.newManagement a{
  color: #409EFF;
  text-decoration: none;
}
.newManagement_header{
  height: 10%;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing: border-box;
}
.newManagement_body{
  height: 90%;
}
.newManagement_body .el-form{
  height:100%;
  text-align: center;
}
.newManagement_body .el-form .el-form-item{
  height: 50px;
  margin-bottom: 0%;
}
.newManagement_body .el-form .el-form-item .el-form-item__content{
  width: 50%;
  height: 100%;
}
.newManagement_confirm{
  height: 20%;
}
.newManagement_body .el-checkbox__label{
  color: #cccccc;
}
.newManagement_body .el-button{
  height: 100%;
  width: 20%;
  padding: 0;
  margin:2% 10%;
}
.newManagement_body .el-form-item .el-form-item__content .el-form-item__error{
  font-size: 12px!important;
  left: 0 !important;
  width: auto;
  height: auto;
  top: auto;
  text-align: left;
}

/*---添加编辑的遮罩------------------*/
.addShowMask {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
/*---编辑的遮罩------------------*/

/*根据不同分辨率引入样式*/
@media screen and (min-width: 1920px) {
  /*.accountManagement_box {*/
    /*height: 89%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 4px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  /*.accountManagement_box {*/
    /*height: 88%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 4px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (max-width: 1600px) {
  /*.accountManagement_box {*/
    /*height: 88%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 4px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (max-width: 1440px) {
  /*.accountManagement_box {*/
    /*height: 90%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 4px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (max-width: 1366px) {
  /*.accountManagement_box {*/
    /*height: 88%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 0px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (max-width: 1360px) {
  /*.accountManagement_box {*/
    /*height: 88%;*/
  /*}*/
  /*.el-table__header-wrapper th {*/
    /*padding: 0px;*/
  /*}*/
  /*.accountManagement_data {*/
    /*height: 86.5%;*/
  /*}*/
}
@media screen and (max-width: 1280px) {
  /*.accountManagement_box {*/
    /*height: 90%;*/
  /*}*/
}
