.owner_form {
  height: 100%;
}
.owner_form .owner_select {
  border: 1px solid #71c7d5;
  margin-top: 5px;
  background: rgb(14,30,65);
  padding: 0.1% 0;
  height: 70%;
}
.owner_form .owner_title {
  font-size: 16px;
  color: #fff;
}
  /*----第一块的css样式--------------------------*/
.owner_form .box1 {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}
.owner_form .box1 .owner_select {
  display: table;
  width: 100%;
}
.owner_form .box1 .owner_form_box {
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.owner_form .box1 .owner_form_box .el-form-item__content {
  width: 30%;
}
/*-----第二块的css样式---------------*/
.owner_form .box2 {
  height: 300px;
  /*margin-bottom: 2%;*/
  margin-top: 20px;
  box-sizing: border-box;
}
.owner_form .box2 .owner_select {
  width: 100%;
  height: 100%;
  padding-top: 2%;
  box-sizing: border-box;
}
.owner_form .box2 .owner_select input {
  height: 25px;
}
.owner_form .box2 .owner_form_box {
  width: 100%;
  height: 25%;
  padding: 0 20px;
}
.owner_form .box2 .owner_form_box .el-form-item__content {
  width: 440px;
}
/*禁用*/
.three_box:nth-of-type(2) .el-input__inner, .three_box:nth-of-type(3) .el-input__inner, .three_box:nth-of-type(4) .el-input__inner, .three_box:nth-of-type(5) .el-input__inner {
  cursor: not-allowed!important;
}
/*第四块*/
.owner_form .box4 {
  height: 5%;
  margin-top: 4%;
}
/*._owner_box {*/
  /*margin-bottom: 1%;*/
/*}*/
.owner_form .owner_form_box .el-form-item__label {
  font-size: 0.875em;
  font-family: 'SimSun';
  color: #71c7d5;
  display: inline-block;
}

/*------去掉下拉单的边框------------------------------------*/
.el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus {
  border-color: #dcdfe6;
}
.owner_form .owner_form_box {
  width: 36%;
  height: 100%;
}
.owner_form_box {
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
}
/*-----重置表单样式----------------------------------------------*/
.public_css .el-form-item__content {
  line-height: 30px !important;
  width: 80%;
}
.el-select {
  width: 100%;
  height: 24px;
}
.el-form-item__label {
  color: #fff;
  line-height: 30px;
}
.el-input, .el-input input {
  height: 24px;
  line-height: 20px;
}
.el-input input {
  border-radius: 0;
}
.el-input__icon {
  line-height: 24px;
  background: #ccc;
  color: #000 !important;
  width: 24px;
  height: 24px;
}
.el-input__suffix {
  right: 0;
}
/*----下拉框的样式-------------*/
.el-scrollbar__view {
  padding: 0;
}
.el-scrollbar__view li{
  display: block;
}

/*------提交按钮样式----------------------------------------------------------------*/
.unitFormBtn {
  width: 100%;
  height: auto;
  text-align: center;
}
.unitFormBtn .unitBtn {
  width: auto;
  background: #2e58a2;
  border: 0;
  color: #fff;
  border-radius: 1px;
  text-align: center;
  line-height: 24px;
  margin: 0 16px;
  padding: 2px 16px;
  font-size: 16px;
  font-family: 'SimSun';
}
.unitFormBtn .unitBtn:hover {
  color: #71c7d5;
}
/*-------下拉框的校验问题---------------------------------------*/
.public_css .el-form-item__error {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 26px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
#main .el-form-item__error {
  /*right: 24px !important;*/
  /*left: inherit;*/
}

/*------弹框-----------------------------*/
/*根据不同分辨率引入样式*/
@media screen and (min-width: 1920px) {

}
@media screen and (max-width: 1680px) {

}
@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1366px) {
  .owner_form .box2 {
    height: 220px;
  }
}
@media screen and (max-width: 1360px) {
  .owner_form .box2 {
    height: 220px;
  }
}
@media screen and (max-width: 1280px) {
  .owner_form .box2 {
    height: 260px;
  }
}
